.header {
  z-index: 99;
  width: 100%;
  font-family: 'Montserrat', 'sans-serif';
  top: 0;
  position: absolute;
  transition: height .2s;
  background: #fff;
  .rel {
    position: relative;
  }
  .big-wrap {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
  }
}

// nav.navbar {
//   border-bottom: 1px solid #D7E2E8;
//   height: 90px;
//   background-color: #E7EAF1;
//   color: #4F5A5E;
//   .navbar-logo a {
//     text-transform: uppercase;
//     color: #2d2d2d;
//     font-size: 2em;
//     &:hover {
//       color: #4F5A5E;
//     }
//   }
//
//   .nav .nav-item a {
//     color: #2d2d2d;
//     text-transform: uppercase;
//     &:hover {
//       color: #4F5A5E;
//     }
//   }
// }
