
/*  style for index page of rooms */

.row {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  width: 1170px;
}

.Home-Grid-menu {
  font-size: 0px;
  margin: 50px 0px 16px;
  text-align: center;
  width: 100%;
  .toggle {
    display: block;
  }
  .title {
    font-size: 18px;
    line-height: 40px;
    font-weight: 300;
    color: #B7B7B7;
    text-align: center;
    cursor: pointer;
    padding: 0 30px;
    display: none;
    white-space: nowrap;
  }
}

.Home-Grid-menu a {
  font-size: 14px;
  line-height: 40px;
  transition: all .3s;
  -webkit-transtion: all .3s;
  display: inline-block;
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  margin-left: 28px;
}

.Home-Grid-menu a span.text {
  display: inline-block;
  position: relative;
  color: #8c8c8c;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 14px;
}

a.room-links {
  display: inline-block;
  position: relative;
  color: #8c8c8c;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 14px;
  &:hover {
    text-decoration: none;
  }
}


.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}


.Home-Grid-container {
  position: relative;
  height: 1402px;
  margin-top: 40px;
}

.wrapper {
  border:1px solid transparent;
  border-radius: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.wrapper > div {
  border-radius: 2px;
  background-color: #3D436C;
  padding: 2em;
  h5 {
    color: #EDDAE1;
    text-align: center;
    border-bottom: 1px solid #EDDAE1;
  }
  .chore-list {
    border-bottom: 1px solid #EDDAE1;
    color: #EDDAE1;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}




.rooms-list h1 {
  margin-bottom: 100px;
}

/* New Room Form and Edit form */

.new-room, .edit-room {
  width: 50%;
  margin-top: 120px;
  margin-left: 25%;
  h1 {
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #B7B7B7;
    text-transform: uppercase;
  }
  .room-form, .room-label, .room-text {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: #B7B7B7;
    letter-spacing: 2px;
  }

  .remove-button a.add-button .new-room {
    width: 30%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #EDDAE1;
    color: #3D436C;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
}

.chore-text {
  margin-left: 30%;
  a.btn-primary {
    color: #EDDAE1;
    background-color: #3D436C;
  }
}

.chores {
  a {
  background-color: #EDDAE1;
  color: #3D436C;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    }
  }
}

.nested-fields {
  input {
    color: #B7B7B7;
    width: 50%;
    border-radius: 2px;
  }
  a.remove-button {
    width: 50%;
    float: right;
    text-align: center;
  }
}

  .room-button {

    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #EDDAE1;
    color: #3D436C;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }

// .container {
//   column-width: 250px;
//   column-gap: 20px;
//   p.links {
//     text-align: center;
//   }
// }

.card {
  break-inside: avoid;
  page-break-inside: avoid;
  background-color: #D7E2E8;
  border: 1px solid #B8CCCD;
  padding: 10px;
  margin: 0 0 1em 0;
  height: 400px;
}

/* form for making a new room with chores */
