/* card styles */

/* styles for the show page */
// .container {
//   width: 50em;
//   height: 30em;
//   margin: 5em auto;
//   background-color: #edefee;
//   border: 0.1em solid #c6c6c6;
//   border-radius: 1.0em;
//   h2 {
//     text-align: center;
//     font-size: 2em;
//   }
// }

// .card header {
//   border-radius: 1.5em 1.5em 0 0;
// }
//
// .card footer {
//   border-radius: 0 0 1.5em 1.5em;
// }
//
// .card article h4 {
//   margin-left: 20%;
// }
//
// .card header img {
//   max-height: 100%;
//   float: right;
//   border-radius: 5px;
// }
//
// .card .links {
//   text-align: center;
//   a {
//   color: #1a2553;
//   &:hover {
//     text-decoration: none;
//     color: #fe3648;
//     }
//   }
// }

/*  style for index page of rooms */

.container {
  column-width: 250px;
  column-gap: 20px;
}

.card {
  break-inside: avoid;
  page-break-inside: avoid;
  background-color: #D7E2E8;
  border: 1px solid #B8CCCD;
  padding: 10px;
  margin: 0 0 1em 0;
  height: 400px;
}
