
/*  style for index page of rooms */

.rooms-list h1 {
  margin-bottom: 100px;
}

.container {
  column-width: 250px;
  column-gap: 20px;
  p.links {
    text-align: center;
  }
}

.card {
  break-inside: avoid;
  page-break-inside: avoid;
  background-color: #D7E2E8;
  border: 1px solid #B8CCCD;
  padding: 10px;
  margin: 0 0 1em 0;
  height: 400px;
}

/* form for making a new room with chores */
