


/******************************************************************
Site Name:
Author:

Stylesheet: Variables

******************************************************************/

/*********************
COLORS
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #333333;
$white:             #fff;
$off-white:			    #f1f1f1;

$light-gray:        #eaeaea;
$gray:              #666666;
$text-color:        #6e6f72;
$meta-gray:         #bcbcbc;

$tan:               #eceee5;

$green:             #85c441;

$blue:              #325d9e;

$link-color:        $blue;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;
