<% if room.image? %>
  <%= image_tag room.image.thumb.url %>
  <div>
     <%= label_tag :remove_image do %>
        Remove image
      <%= f.check_box :remove_image %>
    <% end %>
  </div>

<% end %>
