<div class="jumbotron">
  <h1>Welcome to Grit & Grace</h1>
  <p>Keep track of your chores!</p>
  <%= link_to 'Sign Up', signup_path, class: 'login-button btn' %>
  <%= link_to 'Log In', login_path, class: 'btn login-button' %>
</div>
