
<div class="container">

    <% for room in @rooms %>
        <div class="card">
          <h2><%= link_to room.title, room %>
            <ul>
              <% for chore in room.chores %>
              <li><%= chore.name %></li>
            </ul>
            <% end %>
        </div>
       <% end %>
</div>
