
<div class="container">
    <%= @rooms.each do |room| %>
        <div class="card">
          <h2><%= link_to room.title, room %>
            <% for chore in room.chores %>
            <ul>
              <li><%= chore.name %></li>
            </ul>
          <% end %>
      </div>
    <% end %>
</div>
